.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}
