.d-grid {
	display: grid;
}

.grid-auto-1 {
	grid-template: auto / repeat(auto-fit, minmax(4em, 1fr));
}

.grid-auto-2 {
	grid-template: auto / repeat(auto-fit, minmax(8em, 1fr));
}

.grid-auto-3 {
	grid-template: auto / repeat(auto-fit, minmax(16em, 1fr));
}

.grid-auto-4 {
	grid-template: auto / repeat(auto-fit, minmax(21em, 1fr));
}
