.w-100 {
	width: 100%;
	max-width: 256px;
}

.w-256 {
	width: 256px;
}

.mw-100 {
	max-width: 100%;
}

.mw-256 {
	max-width: 256px;
}

.justify-content-between {
	justify-content: space-between;
}

.text-light {
	color: var(--000);
}

.text-dark {
	color: var(--900);
}
