# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Tab indentation (Size 4)
[*.{js,ts,css,twee,tw}]
indent_style = tab
indent_size = 4
insert_final_newline = true
