# VSCode files
## Allow users to edit their own settings for VSCode
##  extensions like ESLint have configurations will be forced.
## To ensure cohesion, but the top-level configs can only have 
##  absolute settings that every has to use due to order.
.vscode/settings.json

# Keys
/keys/*
!/keys/README.md

# Dist
/dist/*
# We use a placeholder to ensure the host system creates the folder
#  (may run into permissions issues if you allow docker to create it)
!/dist/.placeholder
/debug.log
Degrees of Lewdity*.html
*.7z
*.zip
*.rar

# Error logs
yarn-error.log

# Cache files
.eslintcache

# Node directories and dependencies
node_modules/

# Operating System files
Desktop.ini
Thumbs.db
.DS_Store

# Miscellaneous formats
*~
*.iml

# Ignoring working folder for Quin2k
mod/
*.code-workspace
release/
