# A gitignore file specifies intentionally untracked files that Git
# should ignore. Files already tracked by Git are not affected!!
## The `git add` command can be used to add ignored files with the
## -f (force) option.
## Consult `git help gitignore` and `git help add` for more info.

# Keys to sign the generated .apks. You don't want them leaked.
/keys/*
# Generated apks themselves.
/dist/*
# Compiled game htmls.
Degrees of Lewdity*.html

# Archives
*.7z
*.zip
*.rar
*.tar
*.gz
*.xz

# Node directories and dependencies
node_modules/

# Operating System files
Desktop.ini
Thumbs.db

# Hidden, temporary, and logging files
.*
*~
*.tmp
*.log

# Miscellaneous formats
*.iml

# Ignoring working folder for Quin2k
mod/
*.code-workspace
release/

# Save files
*.save

# Gitlab configuration
!.gitlab