button.faded {
	color: rgba(from var(--700) r g b / 100%);
	background-color: rgba(from var(--900) r g b / 100%);
}

.combat-grid {
	/* Set to expand to available width */
	flex-grow: 1;

	/* Setup grid configuration */
	grid-template: 1fr / auto;
	grid-template-areas:
		"centre centre centre"
		"bottom-start bottom bottom-end";
}

.combat-grid > .combat-centre {
	grid-area: centre;
}

.combat-grid > .combat-xray-penis {
	grid-area: bottom-start;
	display: flex;
	align-content: center;
	justify-content: center;
}

.combat-grid > .combat-xray-vagina {
	grid-area: bottom;
	display: flex;
	align-content: center;
	justify-content: center;
}

.combat-grid > .combat-xray-arse {
	grid-area: bottom-end;
	display: flex;
	align-content: center;
	justify-content: center;
}

.combat-layers {
	overflow-y: scroll;
	height: 320px;
	flex-grow: 0;
}

.btn-icon {
	width: 2em;
	height: 2em;
}

.btn-icon > img {
	height: 100%;
	filter: grayscale(100%) brightness(500%);
	image-rendering: auto;
}

#combatMainLayerDialog {
	margin-block: 0;
	top: 2%;
	margin-inline-end: 0;
}

.combat-layers.show-first button.faded {
	order: 1;
}

@media screen and (min-width: 64em) {
	.combat-grid {
		/* Apply some styles for desktop */
		grid-template: 1fr 1fr / auto min-content auto;
		grid-template-areas:
			"top-start centre right"
			"bottom-start centre right";
		align-items: center;
	}

	.combat-grid > .combat-centre {
		grid-area: centre;
	}

	.combat-grid > .combat-xray-penis {
		grid-area: bottom-start;
		justify-content: end;
	}

	.combat-grid > .combat-xray-vagina {
		grid-area: top-start;
		justify-content: end;
	}

	.combat-grid > .combat-xray-arse {
		grid-area: right;
		justify-content: start;
	}
}
