button.faded {
	color: rgb(175 175 175 / 100%);
	background-color: rgb(0 0 0 / 100%);
}

.combat-grid {
	flex-grow: 1;
}

.combat-layers {
	overflow-y: scroll;
	height: 320px;
	flex-grow: 0;
}

.btn-icon {
	width: 2em;
	height: 2em;
}

.btn-icon > img {
	height: 100%;
	filter: grayscale(100%) brightness(500%);
	image-rendering: auto;
}
