.numberStepperContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0;
	border: 1px solid var(--500);
	border-radius: 10px;
	overflow: hidden;
	width: 446px;
	max-width: 100%;
	margin-bottom: 5px;
}

.titleRow {
	text-align: center;
	width: 100%;
	display: none;
	border-bottom: 1px solid var(--500);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 24px;
	box-sizing: border-box;
}

.titleRow img {
	max-height: 24px;
	width: auto;
	object-fit: contain;
	vertical-align: middle;
}

.numberStepperGroup {
	background-color: var(--800);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	width: 100%;
}

.numberStepper,
.numberStepper:disabled {
	background-color: var(--800);
	padding: 0;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid var(--400);
	box-sizing: border-box;
	width: 32px; /* Fixed width for all buttons */
	min-width: 32px;
	max-width: 32px;
}

.numberStepper:first-child {
	border-left: none;
}

.numberStepper:disabled {
	background-color: var(--550);
	color: var(--850);
}

.doubleIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.doubleIcon span {
	margin-left: -12px;
	position: relative;
}

.doubleIcon span:first-child {
	margin-left: 0;
}

.titlePercentage {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	border-left: 1px solid var(--400);
	white-space: nowrap;
	overflow: hidden;
	flex-grow: 1; /* Make the title part take up the remaining space */
	gap: 4px;
}

.titleInline {
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titleInline img {
	max-height: 24px;
	width: auto;
	object-fit: contain;
	vertical-align: middle;
}

/* Responsive behavior */
@media (max-width: 530px) {
	.numberStepperContainer {
		width: 360px;
	}

	.hideable,
	.hideable:disabled {
		display: none;
	}

	.numberStepper,
	.numberStepper:disabled {
		width: 32px; /* Fixed width for all buttons */
		min-width: 32px;
		max-width: 32px;
	}

	.titlePercentage {
		flex-grow: 1;
	}
}

@media (max-width: 410px) {
	.numberStepperContainer {
		width: 295px;
	}

	.titleRow {
		display: block;
		border-radius: 10px 10px 0 0;
	}

	.titleInline,
	.numberStepperDivider {
		display: none;
	}

	.hideable,
	.hideable:disabled {
		display: inline-block;
	}

	.numberStepperGroup {
		border-radius: 0 0 10px 10px;
	}

	.numberStepper,
	.numberStepper:disabled {
		width: 32px; /* Fixed width for all buttons */
		min-width: 32px;
		max-width: 32px;
	}

	.titlePercentage {
		flex-grow: 1;
		width: auto; /* Allow title to take the remaining space */
	}
}

@media (min-width: 411px) {
	.titleRow {
		display: none;
	}

	.titleInline,
	.numberStepperDivider {
		display: inline;
	}
}
