.numberStepperContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0;
	border: 1px solid var(--500);
	border-radius: 10px;
	overflow: hidden;
	width: 446px;
	max-width: 100%;
	margin-bottom: 5px;
}

.titleRow {
	text-align: center;
	width: 100%;
	display: none;
	border-bottom: 1px solid var(--500);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 24px;
	box-sizing: border-box;
}

.titleRow img {
	max-height: 24px;
	width: auto;
	object-fit: contain;
	vertical-align: middle;
}

.numberStepperGroup {
	background-color: var(--800);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	width: 100%;
}

.numberStepper,
.numberStepper:disabled {
	background-color: var(--800);
	padding: 0;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid var(--400);
	box-sizing: border-box;
	width: calc((446px - 1px * 5) / 11);
}

.numberStepper:first-child {
	border-left: none;
}

.numberStepper:disabled{
	background-color: var(--550);
	color: var(--850);
}

.hideable {
	display: inline-block;
}

.doubleIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.doubleIcon span {
	margin-left: -12px;
	position: relative;
}

.doubleIcon span:first-child {
	margin-left: 0;
}

.titlePercentage {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	border-left: 1px solid var(--400);
	white-space: nowrap;
	overflow: hidden;
	width: calc((446px - 1px * 5) / 1.9);
	gap: 4px;
}

.titleInline {
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titleInline img {
	max-height: 24px;
	width: auto;
	object-fit: contain;
	vertical-align: middle;
}

/* For 3 buttons */
.numberStepperGroup.three-buttons .numberStepper {
	width: calc((446px - 1px * 5) / 11);
}

.numberStepperGroup.three-buttons .titlePercentage {
	width: calc((446px - 1px * 5) / 1.9);
}

/* For 2 buttons */
.numberStepperGroup.two-buttons .numberStepper {
	width: calc((336px - 1px * 3) / 9);
}

.numberStepperGroup.two-buttons .titlePercentage {
	width: calc((436px - 1px * 3) / 1.5);
}

/* For 1 button */
.numberStepperGroup.one-button .numberStepper {
	width: calc((226px - 1px) / 7);
}

.numberStepperGroup.one-button .titlePercentage {
	width: calc((436px - 1px) / 1.2);
}

/* Responsive behavior */
@media (max-width: 530px) {
	.numberStepperContainer {
		width: 360px;
	}

	.hideable,
	.hideable:disabled {
		display: none;
	}

	.numberStepper,
	.numberStepper:disabled {
		width: calc((336px - 1px * 3) / 9);
	}

	.titlePercentage {
		width: calc((336px - 1px * 3) / 1.6);
	}
}

@media (max-width: 410px) {
	.numberStepperContainer {
		width: 295px;
	}

	.titleRow {
		display: block;
		border-radius: 10px 10px 0 0;
	}

	.titleInline {
		display: none;
	}

	.hideable,
	.hideable:disabled {
		display: inline-block;
	}

	.numberStepperGroup {
		border-radius: 0 0 10px 10px;
	}

	.numberStepper,
	.numberStepper:disabled {
		width: calc((100% - 1px * 3) / 4);
	}

	.titlePercentage {
		width: calc(100% - 1px * 3);
	}
}

@media (min-width: 411px) {
	.titleRow {
		display: none;
	}

	.titleInline {
		display: inline;
	}
}
