.tooltip-popup {
	top: 0;
	display: inline;
	position: absolute;
	border: 1px solid var(--gold);
	border-radius: 5px;
	font-weight: normal;
	text-decoration: none;
	padding: 5px;
	max-width: 90%;
	box-shadow: 0 0 8px 2px var(--900);
	background: var(--tooltip-background) repeat-x 0 0;
	background-image: linear-gradient(to bottom, var(--tooltip-gradient));
	z-index: 1000;
}

.tooltip-anchor {
	border-bottom: 1px dotted var(--tooltip-border);
}

.tooltip-header {
	color: var(--gold);
}

.tooltip-body {
	font-size: 85%;
}
