/* stylelint-disable no-descending-specificity */
/* Start Menu UI */
.cheatHair {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-gap: 5px;
	row-gap: 10px;
	text-align: center;
}

.cheatHair .hairColour {
	padding: 5px;
	border: 10px;
}

.cheatHair .macro-radiovar {
	display: none;
}

.cheatHair > label > div {
	padding: 2px;
	border: 1px solid var(--500);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="radio"]:checked + .checked-gold {
	color: gold;
}
