/* stylelint-disable no-descending-specificity */
/* Furniture shop UI */
#furnitureDetails,
#paperDetails {
	display: inline-block;
	padding: 2px;
	border: solid 1px var(--300);
	height: 100%;
	width: 90%;
	min-width: 400px;
	margin: 0 30px;
	overflow: hidden;
}

#furnitureContainer,
#paperContainer {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
}

.furnitureBlock {
	padding: 2px;
	border: solid 1px var(--300);
	width: 40%;
	margin: 3px;
	flex-grow: 1;
	min-width: 250px;
}

#textbox--customhanging {
	min-width: fit-content;
}

#furnitureContainerHeader,
#paperContainerHeader {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
	width: 100%;
	grid-gap: 5px;
	margin-top: 10px;
}

#furnitureContainerHeader .furnitureTab button,
#paperContainerHeader .furnitureTab button {
	background-color: var(--850);
	border: 1px solid var(--600);
	color: var(--000);
	width: 100%;
}

#furnitureContainerHeader .furnitureTabSelected button,
#paperContainerHeader .furnitureTabSelected button {
	background-color: var(--850);
	border: 1px solid var(--gold);
	color: var(--gold);
	width: 100%;
}

#furnitureContainerHeader button:hover,
#paperContainerHeader button:hover {
	background-color: var(--500);
	border: 1px solid var(--000);
	color: var(--000);
}

#furniture-menu-container,
#paper-menu-container {
	border: 1px solid var(--600);
	margin-top: 10px;
	padding: 10px;
	width: 100%;
}

#furnitureDowngrade {
	margin-bottom: 5px;
}

#furnitureDowngrade button {
	width: 5em;
	margin-top: 10px;
}
