/* stylelint-disable no-descending-specificity */

.itemCollectible {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	gap: 5px;
	padding: 0.5rem;
}

.itemMuseum {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	gap: 5px;
}

.itemInventory {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
	gap: 5px;
	padding: 0.5rem;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	text-align: center;
	border: 1px solid var(--200);
	padding: 5px;
}

.item.unknown {
	border: 1px solid var(--500);
}

.item hr {
	border-top: 1px solid var(--600);
	margin: 2px;
	width: 100%;
}

.reminder {
	position: absolute;
	top: -2px;
	right: -2px;
	color: var(--red);
	background-color: var(--white);
}

.header.gold.bold {
	font-size: 17px;
}

details.journal {
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--100);
	margin-top: -0.25rem;
}

summary.journal {
	background: var(--800);
	padding: 0.5rem;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
}

summary::-webkit-details-marker {
	display: none;
}

summary.journal::before {
	content: "►";
	font-size: 1rem;
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
	transition: rotate 0.25s ease-out;
}

details.journal[open] summary.journal {
	border-bottom: 1px solid var(--100);
}

details.journal[open] summary.journal::before {
	rotate: 90deg;
}

.item > img {
	width: fit-content;
	margin: 0 auto;
}

ul.journal {
	margin: 10px 0 0 -5px;
}

.map {
	margin-top: 1rem;
}

ul.journal.carry {
	list-style-type: none;
}

details.stats {
	max-width: 500px;
	overflow: hidden;
}

summary.stats {
	display: block;
	width: fit-content;
}

span.stats {
	position: relative;
	display: flex;
	cursor: pointer;
}

span.stats::before {
	content: ">";
	font-size: 1rem;
	display: flex;
	color: var(--200);
	margin-right: 0.5rem;
	transition: rotate 100ms 200ms ease-out;
	position: absolute;
	right: -1.75rem;
	font-family: monospace;
	font-weight: bolder;
}

details.stats[open] + div.content {
	max-height: 1500px;
	overflow: scroll;
	transition: max-height 400ms ease-out, border 0ms linear;
}

details.stats[open] span::before {
	rotate: 90deg;
	transition: rotate 200ms ease-out;
}
