/* stylelint-disable no-descending-specificity */
/* Mirror Menu UI */

.mirrorContainer {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
}

.skinMenu {
	margin: 0 10px;
}

#bodywritingMenu {
	width: 100%;
}

#bodywritingMenuLinks {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	width: 100%;
	grid-gap: 7px;
	margin: 8px 8px 16px;
}

#bodywritingMenuLinks .bodywriting button {
	background-color: var(--850);
	border: 1px solid var(--600);
	color: var(--000);
	max-width: 100%;
	font-size: 100%;
	padding: 4px;
}

#bodywritingMenuLinks .bodywritingSelected button {
	background-color: var(--850);
	border: 1px solid var(--gold);
	color: var(--gold);
	max-width: 100%;
	font-size: 100%;
	padding: 4px;
}

#bodywritingMenuLinks button:hover {
	background-color: var(--500);
	border: 1px solid var(--000);
	color: var(--000);
}

.makeupList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	grid-gap: 4px;
	font-size: 85%;
	margin-top: 4px;
}

.makeupItem button,
.makeupWorn button {
	height: 100%;
}

.makeupWorn button,
.makeupWorn button:hover {
	color: var(--gold);
	border: 1px solid var(--gold);
	background-color: var(--850);
	cursor: not-allowed;
}
/* Collapsible Menu for TF Colours */
.expandMenu {
	position: sticky;
	bottom: 0;
}

details.expandMenu {
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--700);
	position: sticky;
}

summary.expandMenu {
	background-color: var(--800);
	height: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

summary.expandMenu::before {
	content: "►";
	font-size: 1rem;
	display: flex;
	align-items: center;
	margin-right: 0.4rem;
	transition: rotate 0.25s ease-out;
}

details.expandMenu[open] summary.expandMenu {
	border-bottom: 1px solid var(--700);
	height: auto;
	padding: 0.2em 0;
}

details.expandMenu[open] summary.expandMenu::before {
	rotate: 90deg;
}

.menuWarning,
.menuContent {
	background-color: var(--850);
	padding: 0.5em;
}

.mainButton button {
	background-color: var(--800);
	color: var(--gold);
	border-radius: 5px;
	padding: 0.5em 1.25em;
	font-size: 100%;
	max-width: 400px;
}
