#moneyStats {
	border: 1px solid var(--750);
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

#moneyStats caption {
	margin: 0.5em 0 0.75em;
}

#moneyStats tr {
	background-color: var(--750);
	border: 1px solid var(--550);
	padding: 0.35em;
}

#moneyStats th,
#moneyStats td {
	text-align: center;
}

#moneyStats tbody {
	border-bottom: 1px solid var(--750);
}

#moneyStats tbody:last-child {
	border-bottom: none;
}

#moneyStats .total {
	border-top: 4px solid var(--750);
}

#moneyStats .dash {
	color: var(--500);
}

@media screen and (max-width: 600px) {
	#moneyStats {
		border: 0;
	}

	#moneyStats thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	#moneyStats tbody {
		border-bottom: 3px solid var(--550);
	}

	#moneyStats tr {
		border-bottom: 3px solid var(--750);
		display: block;
		margin-bottom: 0.625em;
	}

	/* Here we are setting each td display to block */
	#moneyStats td {
		border-bottom: 1px solid var(--750);
		display: block;
		text-align: right;
	}

	/* Now the other data-label we have added on each td comes into play. */
	#moneyStats td::before {
		content: attr(data-label);
		float: left;
	}

	#moneyStats td:first-child {
		border-top: 5px solid var(--750);
	}

	#moneyStats td:last-child {
		border-bottom: 0;
	}

	#moneyStats .mobileHidden {
		display: none;
	}
}
