.statsTable {
	border: 1px solid var(--750);
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

.statsTable caption {
	margin: 0.5em 0 0.75em;
}

.statsTable tr {
	background-color: var(--750);
	border: 1px solid var(--550);
	padding: 0.35em;
}

.statsTable th,
.statsTable td {
	text-align: center;
}

.statsTable tbody {
	border-bottom: 1px solid var(--750);
}

.statsTable tbody:last-child {
	border-bottom: none;
}

.statsTable .total {
	border-top: 4px solid var(--750);
}

.statsTable .dash {
	color: var(--500);
}

@media screen and (max-width: 600px) {
	.statsTable {
		border: 0;
	}

	.statsTable thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.statsTable tbody {
		border-bottom: 3px solid var(--550);
	}

	.statsTable tr {
		border-bottom: 3px solid var(--750);
		display: block;
		margin-bottom: 0.625em;
	}

	/* Here we are setting each td display to block */
	.statsTable td {
		border-bottom: 1px solid var(--750);
		display: block;
		text-align: right;
	}

	/* Now the other data-label we have added on each td comes into play. */
	.statsTable td::before {
		content: attr(data-label);
		float: left;
	}

	.statsTable td:first-child {
		border-top: 5px solid var(--750);
	}

	.statsTable td:last-child {
		border-bottom: 0;
	}

	.statsTable .mobileHidden {
		display: none;
	}
}
