.m-0 {
	margin: 0;
}

.m-1 {
	margin: 0.25rem;
}

.m-2 {
	margin: 0.5rem;
}

.m-3 {
	margin: 1rem;
}

.m-4 {
	margin: 2rem;
}

.my-0 {
	margin-block: 0;
}

.my-1 {
	margin-block: 0.25rem;
}

.my-2 {
	margin-block: 0.5rem;
}

.my-3 {
	margin-block: 1rem;
}

.my-4 {
	margin-block: 2rem;
}

.mx-0 {
	margin-inline: 0;
}

.mx-1 {
	margin-inline: 0.25rem;
}

.mx-2 {
	margin-inline: 0.5rem;
}

.mx-3 {
	margin-inline: 1rem;
}

.mx-4 {
	margin-inline: 2rem;
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: 0.25rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-3 {
	padding: 1rem;
}

.p-4 {
	padding: 2rem;
}

.py-0 {
	padding-block: 0;
}

.py-1 {
	padding-block: 0.25rem;
}

.py-2 {
	padding-block: 0.5rem;
}

.py-3 {
	padding-block: 1rem;
}

.py-4 {
	padding-block: 2rem;
}

.px-0 {
	padding-inline: 0;
}

.px-1 {
	padding-inline: 0.25rem;
}

.px-2 {
	padding-inline: 0.5rem;
}

.px-3 {
	padding-inline: 1rem;
}

.px-4 {
	padding-inline: 2rem;
}

.pt-1-em {
	padding-top: 1em;
}

.pc-c {
	place-content: center;
}

.text-align-center {
	text-align: center;
}
