#canvasSkybox {
	position: absolute;
	left: 0;
	z-index: 5;
	user-select: none;
	top: 0;
	width: 64px;
	height: 192px;
	overflow: hidden;
	background-color: #000;
}

#canvasBanner {
	user-select: none;
	max-width: 100%;
	width: 100%; /* Ensure the element scales with the width of its container */
	position: relative;
	overflow: hidden;
	padding-top: 29.63%;
}

#canvasBanner canvas {
	position: absolute;
	top: 0;
	left: 0;

}

#canvasSkybox canvas,
#canvasBanner canvas {
	will-change: transform;
	transform: translateZ(0);
}

#skyBackground {
	position: absolute;
	z-index: 6;
}

#starfield {
	position: relative;
	z-index: 7;
}

#sunGlow {
	position: absolute;
	z-index: 18;
}

#moonGlow {
	position: absolute;
	z-index: 17;
}

#skybox-location {
	position: absolute;
	width: 64px;
	height: 192px;
	z-index: 12;
}

#sun {
	position: absolute;
	display: block;
	z-index: 8;
}

#moon {
	position: absolute;
	display: block;
	z-index: 9;
}

#overcast {
	position: absolute;
	z-index: 10;
}

#clouds {
	position: absolute;
	z-index: 12;
}

#cirrus {
	position: absolute;
	z-index: 9;
}

#fog {
	position: absolute;
	z-index: 15;
}

#precipitation {
	position: absolute;
	z-index: 16;
}

#backgroundPrecipitation {
	position: absolute;
	z-index: 11;
}

#location {
	position: absolute;
	left: 0;
	z-index: 14;
	user-select: none;
	top: 128px;
}

#locationOverlay {
	position: absolute;
	z-index: 15;
}

#locationLights {
	position: absolute;
	z-index: 16;
}

#daystate {
	top: 0;
}

#weather {
	top: 64px;
}

#debugWeatherType {
	position: absolute;
	z-index: 1000;
	color: yellow;
	top: 0;
}

#characterTemperature {
	position: absolute;
	top: 159px;
	left: 66px;
	z-index: 1000;
}

#characterTemperatureTooltip {
	position: absolute;
	width: 16px;
	height: 29px;
	top: 157px;
	left: 67px;
	z-index: 1000;
}
