@font-face {
	font-family: "Roschild";
	src: url("/fonts/Roschild.ttf")
}

.ssm_header{
	font-family: "Roschild";
	position: relative;
	border: 1px solid #554f5540;
	background-color: #202020;;
	width: 50%;
	margin: 0 auto;
	transform: scale(0.9);
	min-width: 180px;
}

.ssm_gridContainer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
	display: grid;
	margin: 0 20% 0 20%;
}

.ssm_owner_name {
	font-size: 25px;
	display: table;
	margin: 0 auto;
}

.ssm_shop_title {
	font-size: 20px;
	display: table;
	margin: 0 auto;
	letter-spacing: 0.4em;
	white-space: nowrap;
}

.ssm_item {
	background-color: #161616;
	border: 1px solid #444444d1;
	height: 55px;
	margin: 0.7%;
	display: flex;
}

.ssm_item:hover:not(.ssm_selected_a) {
	border:1px solid #ddcfdd83;
	background-color: #1d1d1d;
}

.ssm_item:hover:not(.ssm_selected_a) > .ssm_details:not(.ssm_selected_b) > .ssm_item_name:not(.ssm_selected_c) {
	color:#6a98c5;
	text-shadow: 1px 0 10px #5e7c9a!important;
	cursor:pointer;
	animation: flicker 1.1s linear infinite;
}

.ssm_item:hover:not(.ssm_selected_a) > .ssm_details:not(.ssm_selected_b) > .ssm_already_owned:not(.ssm_selected_c){
	animation: flicker 4s linear infinite!important;
}

.ssm_selected_a {
	border:1px solid #eca8ec99;
	background-color: #1d1d1d;
}

.ssm_selected_b {
	color:#6a98c5;
	text-shadow: 1px 0 10px #5e7c9a!important;
	cursor:pointer;
	animation: flicker 1.1s linear infinite;
}

.ssm_selected_c {
	animation: flicker 4s linear infinite!important;
}

.ssm_details {
	width: 100%;
	position: relative;
	height: 100%;
	border-left: 1px solid #65545f82;
	cursor:pointer;
}

.ssm_item_name {
	width: 100%;
	color: #5681ab;
	white-space: nowrap;
	text-align: center;
	position: relative;
	font-family: revert;
	top: 25%;
	right: 5%;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-shadow: 1px 1px 2px #304355;
	left: 0;
}

.ssm_already_owned {
	top: 0;
	right: 0;
	position: absolute;
	text-transform: uppercase;
	font-size: 8px;
	width: 40px;
	font-weight: bold;
	background-color: #64626382;
	font-family: system-ui;
	cursor:pointer;
}

.ssm_owned_text {
	display: table;
	margin: auto;
	color: #cccccc;
}

#ssm_desc_img {
	margin: 5.6px 5px 0px 6.6px;
	display: inline-block;
	vertical-align: top;
}

.ssm_close {
	top: -8px;
	right: 1.5px;
	position: absolute;
	color: #bd4a4a;
	font-size: 15px;
	cursor: pointer;
}

.ssm_close:hover {
	color:#eb6060
}

.ssm_closeContainer {
	position: relative;
	display: block;
	padding-bottom: 3px;
	margin: 0 -7px 0 0;
}

#ssm_desc_img > img {
	width: 34px;
	height: 34px;
}

.ssm_desc_border {
	border-left:0.1em solid #515151;
	padding-left: 6px;
}

#ssm_desc {
	display: inline-block;
	color: #878787;
	font-size: 0.8em;
	margin-top: 1%;
	padding-right: 6px;
	margin-right: 6px;
}

.ssm_desc_action {
	display: table;
	margin: 0 45%;
	white-space: nowrap;
}

.ssm_buy_button {
	display: inline-block;
	margin-left: -15%;
}

#spanGift {
	display: inline-block;
}

.ssm_gift_button {
	display: inline-block;
	margin-left: -15%;
}

.ssm_not_enough_money {
	display: inline-block;
	margin-left: -8%;
	color:grey
}

.ssm_fade_in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.7s;
}

.ssm_fade_in_fast {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.ssm_gridDescContainer {
	background-color: #161616;
	border: 1px solid #80808045;
	width: auto;
	display: table;
	margin: 0 auto;
	max-width: 600px;
	min-width: 350px;
}

.ssm_descContainer {
	vertical-align: top;
	display: inline-flex;
}

.ssm_icon {
	height: 100%;
	width: 50px;
}

.ssm_icon > img {
	height: 50px;
	cursor:pointer;
}

.ssm_neon{
	color: #FFD5FF;
	transform: translate(-50%, -50%);
	font-weight: 400;
	text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.ssm_flicker_very_slow{
	animation: flicker 5s linear infinite;
}

.ssm_flicker_slow{
	animation: flicker 3s linear infinite;
}

.ssm_flicker_fast{
	animation: flicker 1s linear infinite;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
	text-shadow: none;
	opacity: .99;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}