:root  {
	--cell-size: 60px;
}
.sti_grid {
	display:grid;
	grid-gap:7px;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	background-color: #19191a;
	width:calc(var(--cell-size) * 4 + 20px);
	min-width: calc(var(--cell-size) * 4 + 20px);;
	max-width:60%;
	margin:0 auto;
	grid-template-columns: repeat(4,var(--cell-size));
	padding:15px;
	padding-top: 40px;
	padding-inline: 30px;
	padding-bottom: 40px;
}

.sti_grid_title {
	position:absolute;
	margin:-40px;
	color: #d4d4ca;
	font-weight: bold;
	justify-self: center;
	padding-top:5px;
	font-family: system-ui;
	font-size: 0.97em;
}

.sti_gridDescContainer {
	background-color: #161616;
	border: 1px solid #80808045;
	width: auto;
	display: table;
	margin: 0 auto;
	max-width: 600px;
	min-width: 350px;
}

.sti_descContainer {
	vertical-align: top;
	display: inline-flex;
}

.sti_cell {
	width:var(--cell-size);
	height:var(--cell-size);
	border-radius:8%;
}

.sti_cell > img {
	width: 50px;
	display: block;
	margin-inline: auto;
	margin-block: 4px;
}

.sti_full {
	background-color: #616164;
	cursor:pointer;
}

#sti_item-detail-container {
	background-color: #19191a;
	width: max-content;
	max-width: 600px;
	margin: 0 auto;
	height: max-content;
	padding: 10px;
	border-radius: 25px;
}

.sti_item-description {
	font-family: system-ui;
	color: #7b7b7b;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
}

.sti_grid_carried_count {
	position: absolute;
	color: #d4d4ca;
	font-weight: bold;
	padding-top: 5px;
	font-family: system-ui;
	font-size: 0.8em;
	white-space: nowrap;
	margin-inline: 130%;
}

.sti_selected {
	background-color: #584951;
	border: 1px solid #be406a!important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sti_full:hover:not(.sti_selected) {
	background-color: #4b4b4e;
	border:1px solid rgb(167, 138, 149);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sti_empty {
	background-color:#242424 ;
	cursor:not-allowed
}

.sti_owned_text {
	display: table;
	margin: auto;
	color: #cccccc;
}

.sti_already_owned {
	top: 0;
	right: 0;
	position: absolute;
	text-transform: uppercase;
	font-size: 8px;
	font-weight: bold;
	background-color: #784875;
	font-family: system-ui;
	cursor:pointer;
}

#sti_item_action {
	margin-left: 32%;
	margin-top: 10px;
	margin-top: 20px;
	text-align: -webkit-center;
}

#sti_icon {
	width: 48px;
	height: 48px
}

#sti_icon > img {
	width: 48px;
	height: 48px;
}

.sti_throw_button {
	color:rgb(202 48 48)
}

.sti_throw_button:hover {
	color:rgb(234 66 66)
}

#sti_desc_img {
	margin: 5.6px 5px 0px 6.6px;
	display: inline-block;
	vertical-align: top;
}

#sti_desc_img > img {
	width: 48px;
	height: 48px;
}

.sti_desc_border {
	border-left:0.1em solid #515151;
	padding-left: 6px;
}

#sti_desc {
	display: inline-block;
	color: #878787;
	font-size: 0.8em;
	margin-top: 1%;
	padding-right: 6px;
	margin-right: 6px;
	min-width: 350px;
}

.sti_closeContainer {
	position: relative;
	display: block;
	padding-bottom: 3px;
	margin: 0 -7px 0 0;
}

.sti_close {
	top: -8px;
	right: 1.5px;
	position: absolute;
	color: #bd4a4a;
	font-size: 15px;
	cursor: pointer;
}

.sti_close:hover {
	color:#eb6060
}

#sti_desc_action {
	text-align: center;
	margin-left: -10%;
}

.sti_carry_limit_reached {
	color: grey!important;
	text-decoration: unset!important;
	cursor: not-allowed!important;
}