<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.vrelnir.dol" id="dol" version="0.5.2.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="DoL">Degrees of Lewdity</name>
    <description>Degrees of Lewdity</description>
    <author email="9096-Vrelnir@users.noreply.gitgud.io" href="https://gitgud.io/Vrelnir/degrees-of-lewdity">
        Vrelnir
    </author>
    <content src="index.html" />
    <platform name="android">
        <hook src="scripts/prevent_unnecessary_deletes.js" type="before_prepare" />
        <hook src="scripts/prepare_files.js" type="before_compile" />
        <hook src="scripts/move_built_apks.js" type="after_compile" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/splashscreen.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#111111" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#111111" />
        <preference name="SplashScreenDelay" value="0" />
        <icon comment="36x36 px" density="ldpi" src="res/icon-ldpi.png" />
        <icon comment="48x48 px" density="mdpi" src="res/icon-mdpi.png" />
        <icon comment="72x72 px" density="hdpi" src="res/icon-hdpi.png" />
        <icon comment="96x96 px" density="xhdpi" src="res/icon-xhdpi.png" />
        <icon comment="144x144 px" density="xxhdpi" src="res/icon-xxhdpi.png" />
        <icon comment="192x192 px" density="xxxhdpi" src="res/icon-xxxhdpi.png" />
    </platform>
</widget>
