<?xml version='1.0' encoding='utf-8'?>
<widget
	id="dol"
	version="0.4.5.3"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	android-packageName="com.vrelnir.dol"
>
	<name short="DoL">Degrees of Lewdity</name>
    <description>Degrees of Lewdity</description>
    <author email="9096-Vrelnir@users.noreply.gitgud.io" href="https://gitgud.io/Vrelnir/degrees-of-lewdity">
        Vrelnir
    </author>
	<content src="index.html" />
	<platform name="android">
		<!-- build scripts -->
		<hook type="before_prepare" src="scripts/prevent_unnecessary_deletes.js" />
		<hook type="before_compile" src="scripts/prepare_files.js" />
		<hook type="after_compile"  src="scripts/move_built_apks.js" />
		<!-- splash screen -->
		<preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/splashscreen.png" />
		<preference name="AndroidWindowSplashScreenBackground" value="#111111" />
		<preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#111111" />
		<preference name="SplashScreenDelay" value="0" />
		<!-- app icons -->
		<icon src="res/icon-ldpi.png"    density="ldpi"    comment="36x36 px"   />
		<icon src="res/icon-mdpi.png"    density="mdpi"    comment="48x48 px"   />
		<icon src="res/icon-hdpi.png"    density="hdpi"    comment="72x72 px"   />
		<icon src="res/icon-xhdpi.png"   density="xhdpi"   comment="96x96 px"   />
		<icon src="res/icon-xxhdpi.png"  density="xxhdpi"  comment="144x144 px" />
		<icon src="res/icon-xxxhdpi.png" density="xxxhdpi" comment="192x192 px" />
	</platform>
</widget>
